.boards{
   padding: 20px;
   clear: both;
}
.board{
    /* padding: 30px 50px; */
   width:200px;
   padding: 20px 0;
   text-align: center;
   background-color: white;
   border: 1px solid rgb(224, 222, 222);
   border-radius: 5px;
   cursor: pointer;
   margin: 3px; 
    box-shadow: 3px 3px 5px rgb(168, 167, 167);
}
.board:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: none;
}
a{
    color: black;
}
.boardsList{
    list-style: none;
    display: flex;
    padding: 0;
    

}
