
/* .inner-ul{
    padding: 0;
}
.inner-ul li{
    background-color: white;
    color: black;
} */
.boardName{
    color: blue;
    font-size: 1.3em;
}
#addColumn{
    width:250px;
    height: 250px;
    background-color: white;
    border: 2px dotted rgb(179, 176, 176);
    border-radius: 5px;
    cursor: pointer;
}