.AddStockForm{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    overflow:  hidden;
    
}
.ModalContent{
    width: 60%;
    /* height: 6%; */
    margin: 100px auto;
    background-color: rgb(250, 249, 249);
    position: relative;
    padding:15px;
    color: grey;
   
}
#title{
    font-size: 1.5em;
    color:black;
   
}
#subTitle{
    /* font-size: em; */
    color:grey;
    clear: both;
    
}

.heading{
font-weight: 600;
color: black;
margin: 15px 0px 7px 0px;   

    
}