.Navbar{
    background-color: blue;
   
    font-size: 1.5em;
    
    padding: 20px 0px;
}
.NavMenu{
    list-style: none;
    padding: 0;
    margin: 0;
   display: flex;
    justify-content:flex-end;
    
   

}
.menuItem{
margin-right: 20px;
background-color: blue;

}
.menuItem a{
    color: white;

    text-decoration:none;
}

#companyLogo{
    
    float: left;
    /* line-height: 3.5; */
    padding-left: 20px;
    color: white;
}