.Navbar{
    background-color: blue;
    /* padding: 20px; */
    font-size: 1.2em;
}
.NavMenu{
    list-style: none;
    padding: 0;
   display: flex;
    justify-content:flex-end;
    
   

}
.menuItem{
margin-right: 20px;
background-color: blue;

}
a{
    color: white;
    text-decoration:none;
}

#companyLogo{
    
    float: left;
    line-height: 3.5;
    padding-left: 20px;
    color: white;
}